Program_files/__pycache__/__init__.cpython-311.pyc
Program_files/__pycache__/game_window.cpython-311.pyc
Program_files/__pycache__/menu_window.cpython-311.pyc
Program_files/__pycache__/questions.cpython-311.pyc
Program_files/__pycache__/team_window.cpython-311.pyc
